---
layout: default
title: Portfolio
---

<div id="home">
  
  <div style="float: right; margin-top: 5px;">
    <a href="/library/" style="background-color: {{ site.data.theme.highlight_color }}; color: #fff; padding: 8px 15px; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 0.9em;">
      <i class="fa fa-book"></i> Library
    </a>
  </div>

  <h2><i class="fa fa-code"></i> Projects</h2>
  <ul class="posts">
    {% assign projects = site.posts | where: "category", "project" %}
    {% for project in projects %}
      <li>
        <span>{{ project.date | date_to_string }} &raquo;</span>
        <a href="{{ project.url }}">{{ project.title }}</a>
        {% if project.tags %}
        <div style="margin-top: 5px;">
          {% for tag in project.tags %}
          <span style="background: #eee; color: #333; padding: 2px 6px; border-radius: 3px; font-size: 0.75em; margin-right: 4px;">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <hr class="section-divider" style="margin: 40px 0; border: 0; border-top: 1px solid #eee;">

  <h2><i class="fa fa-flask"></i> Research Proposals</h2>
  <ol class="posts" style="list-style-type: decimal; margin-left: 20px;">
    {% for proposal in site.research %}
      <li style="margin-bottom: 10px; padding-left: 5px;"><a href="{{ proposal.url }}">{{ proposal.title }}</a></li>
    {% endfor %}
  </ol>

  <hr class="section-divider" style="margin: 40px 0; border: 0; border-top: 1px solid #eee;">

  <h2><i class="fa fa-bookmark"></i> Blog Posts</h2>
  <ul class="posts">
    {% assign blog_posts = site.posts | where_exp: "item", "item.category != 'project'" %}
    {% for post in blog_posts %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>